$blueprint-liquid-container-width: 95%;

@import "compass/utilities/tables/scaffolding";
@import "blueprint/liquid";
@import "partials/roster";

//Recommended Blueprint configuration with scoping and semantic layout:
body {
  #position-monitor{
    display: none;
  }
  #add-player-input{
    display: none;
  }
  input {
    width: 100%;
    border: none;
    text-align: center;
    background-color: inherit;
  }
  tr:nth-child(odd)    {
    background-color:#eee;
  }
  tr:nth-child(even)    {
    background-color:#fff;
  }
  td {
    text-align: center;
  }
}

