<div id="roster">
    <div id="position-entry" class="ui-widget-content">
        <input id="add-player-input" class="ui-widget" type="text" on-enter-keyup="addPlayer(newPlayer)" ng-model="newPlayer" placeholder="Player Name and Number  (e.g. Prince Fielder 28)" >
        <table>
            <thead >
                <tr>
                    <th class="ui-widget-header">Player Name</th>
                    <th ng-repeat="inning in innings" class="ui-widget-header">{{inning}}</th>
                    <th class="ui-widget-header">Bench Count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players" ng-controller="RosterPlayerCtrl">
                    <td ng-click="editMode=true" ng-init="playerName = player.name">
                        <span  ng-class="{hidden: editMode}">{{playerName}}</span>
                        <input on-enter-keyup="editMode=false; player.name = playerName; player.$save();"  ng-class="{hidden: !editMode}" ng-model="playerName"/>
                    </td>
                    <td ng-repeat="inning in innings" ng-init="position = player.positions[inning-1]">
                        <input ui-jq="autocomplete" ui-options="positionAutoComplete" ng-controller='RosterPositionCtrl' list-click=true  ng-model="position" value="{{position.label}}">
                    </td>
                    <td>{{benchCount(player)}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="vertical-spacer"></div>
    <div id="position-monitor" class="ui-widget-content">
        <table>
            <thead class="ui-widget-header">
                <tr>
                    <th class="ui-widget-header">Position</th>
                    <th ng-repeat="inning in innings" class="ui-widget-header">{{inning}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="position in requiredPositions">
                    <td>{{position}}</td>
                    <td>{{positionFilled(position, 1)}}</td>
                    <td>{{positionFilled(position, 2)}}</td>
                    <td>{{positionFilled(position, 3)}}</td>
                    <td>{{positionFilled(position, 4)}}</td>
                    <td>{{positionFilled(position, 5)}}</td>
                    <td>{{positionFilled(position, 6)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>